*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

#Eclipse files
.project
.classpath
.settings
.metadata/
.buildpath

#Logs
*.log
*.log.1

#Backup files
*~
*.bak
*#
